body{
    background-color: rgb(246, 244, 238);
    background-size: 100%;
    height: 100vh;
    overflow:hidden;
    margin: 0px;
}

body.toggled > #title {
    opacity: 0;
}
  

#title{
    color: rgb(246, 244, 238);
    font-family: "Chivo", sans-serif;
    font-size: 4vw;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
    text-align: center;
    left: 50%;
    position: absolute;
    top: 46%;
    transform: translate(-50%, -50%);
}


#tiles{
    height: 100vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(vars(--rows), 1fr);
}

.tile{
    cursor: pointer;
    position: relative;
    /*outline: 1px solid white;*/
}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
}
.tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0px;
    position: absolute;
}

#page{
    position:absolute;
    justify-content: center;
    display: inline;
    text-align: center;
    width: 100%;
} 

#name{    
    text-align:  left;
    margin-left: 3vw;
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    color: rgb(15, 15, 15);
}


h2{
    text-align: left;
    margin-left:  3vw;
}


.links .dropdown-content {
    display: none;
}

.links .dropdown-content a {
    display: block;
    margin-bottom:  20px;
    margin-left: 4vw;
    text-decoration: none;
    color: #333;
}

.links .dropdown-toggle {
    cursor: pointer;
    color: #333;
    margin-bottom: 20px;
    display: block; /* Make each toggle appear on a new line */
}

.links .dropdown-toggle::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent; /* Adjust thickness as needed */
    border-right: 4px solid transparent; /* Adjust thickness as needed */
    border-top: 4px solid #333; /* Adjust color as needed */
    margin-left: 5px;
    transition: transform 0.2s ease;
}

.links .dropdown-toggle.open::after {
    transform: rotate(180deg);
}

.links{
    text-align: left;
}

.links a{
    font-family: "Helvetica", sans-serif;
    margin-left: 3vw;
    margin-right: 3vw;
}

#subheader{
    text-align: left;
}

#subheader > a{
    font-family: "Helvetica", sans-serif;
    margin-left: 3vw;
}

a:link {
    text-decoration: none; 
    color: rgb(15, 15, 15);
}

a:visited {
    text-decoration: none; 
    color: rgb(30, 30, 30);
}

a:hover {
    text-decoration: none; 
    color: rgb(100,100,100);
}

a:active {
    text-decoration: none; 
    color: rgb(205, 253, 255);
}